mule-demo3/src/main/mule/mule-demo3.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="17b273ce-dcb9-4053-9254-e54cf47778cc" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="mule-demo3Flow" doc:id="6ba58e97-5727-4782-8901-c91e0c7f621c" >
		<http:listener doc:name="Listener" doc:id="f318eef2-fbd2-4bc8-a82a-8ab928bc8881" config-ref="HTTP_Listener_config" path="/demo3"/>
		<set-payload value='#["Hello Mule 3"]' doc:name="Set Payload" doc:id="fd8b4402-1c7b-46e0-95d7-eb6d95598193" />
	</flow>
</mule>
